{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1>Create new Category</h1>

    {{ include('category/_form.html.twig', {'button_label': t('action.save')}) }}

    <br>

    <a class="btn btn-secondary" role="button" href="{{ path('app_category_index') }}">{{ 'action.back_to_list'|trans }}</a>
{% endblock %}
