{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}
    <h1>Create new Task</h1>

    {{ include('task/_form.html.twig') }}
    <br>
    <a class="btn btn-secondary" role="button" href="{{ path('app_task_index') }}">Back to list</a>
{% endblock %}
