{% extends 'base.html.twig' %}

{% block title %}
    Hello
{% endblock %}

{% block body %}
    <p>
	<br><a href="{{ path('app_note_index') }}">Notatki</a>
	<br><a href="{{ path('app_task_index') }}">Taski</a>
    <br><a href="{{ path('app_tag_index') }}">Tagi</a>
    <br><a href="{{ path('app_category_index') }}">Kategorie</a>
    </p>
{% endblock %}