{% extends 'base.html.twig' %}

{% block title %}
    Hello
{% endblock %}

{% block body %}
    <p>
	<br><a class="btn btn-outline-primary" role="button" href="{{ path('app_note_index') }}">Zobacz notatki</a><br>
	<br><a class="btn btn-outline-primary" role="button" href="{{ path('app_task_index') }}">Zobacz taski</a><br>
    <br><a class="btn btn-outline-primary" role="button" href="{{ path('app_tag_index') }}">Zobacz tagi</a><br>
    <br><a class="btn btn-outline-primary" role="button" href="{{ path('app_category_index') }}">Zobacz kategorie</a>
    </p>
{% endblock %}