{% extends 'base.html.twig' %}

{% block title %}
    Hello
{% endblock %}

{% block body %}
    <p>
    Uwaga! Strona w budowie! :)
	<br><a href="{{ path('note_index') }}">Notatki</a>
	<br><a href="{{ path('task_index') }}">Taski</a>
    </p>
{% endblock %}