{% extends 'base.html.twig' %}

{% block body %}
    <h1>Change password</h1>

    {% if info %}
        <div>{{ info }}</div>
    {% endif %}

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
