{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'menu.change_password'|trans }}</h1>

    {% if info %}
        <div>{{ info }}</div>
    {% endif %}

    {{ include('user/_form.html.twig', {'button_label': t('action.update')}) }}
{% endblock %}
